:root {
  --current-white-color: #ffffff;
  --current-dark-color: #000000;
  --background-color:#084a5b;

  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@media screen {
  body {
    background-color: #f5f7fa;
  }
}

p {
  margin: 0;
  font-size: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 24px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: var(--current-white-color);
}
@media screen {
  .container {
    margin: 40px auto;
    /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
    box-shadow: 10px 15px 25px rgba(0, 0, 0, .9);
  }
}

.contentSection {
  padding: 40px 80px;
  flex-grow: 2;
  background-color:#bedbdd;
  /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-size: 200%; */
}

.profession {
  margin-bottom: 20px;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.text {
  margin-bottom: 20px;
  text-align: justify;
}

.textLink {
  font-size: inherit;
  color: var(--current-dark-color);
}

.itemText {
  text-align: justify;
}

.contentTitle {
  font-weight: bold;
  color: var(--current-dark-color);
  margin-bottom: 10px;
  text-decoration: underline;
}

.contentItems {
  margin-left: 10px;
}

.contentItems:not(:last-of-type) {
  margin-bottom: 30px;
}

.wrapperLink {
  display: flex;
  margin-bottom: 5px;
}

.contentItem:not(:last-child) {
  margin-bottom: 20px;
}

.contentLink {
  color: var(--current-dark-color);
}

.linkText {
  font-weight: 600;
  display: block;
  margin-right: 15px;
  text-transform: uppercase;
}

.linkSpan {
  display: block;
  margin-left: auto;
}

.duration {
  color: var(--background-color);
  margin-bottom: 5px;
}

.place {
  margin-bottom: 5px;
}

.role {
  text-align: justify;
}

.sidebar {
  background-color: var(--background-color);
  flex-grow: 1;
  padding: 40px 15px;
}

.imgWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border-radius: 50%;
  overflow: hidden;
  width: 370px;
  height: 370px;
}

.contactWrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebarTitle {
  width: 80%;
  font-weight: bold;
  /* color: var(--current-white-color); */
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.03em;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(to left, rgb(9, 241, 184), rgb(0, 162, 255));
  margin-bottom: 30px;
}

.sidebarItems {
  color: rgb(196, 195, 202);
  margin-left: 10px;
}

.sidebarItems:not(:last-of-type) {
  margin-bottom: 30px;
}

.sidebarItem {
  color: var(--current-white-color);
}

.sidebarItem:not(:last-child) {
  margin-bottom: 10px;
}

.sidebarLink {
  display: flex;
  align-items: center;
  color: var(--current-white-color);
}

.sidebarText {
  display: block;
  color: var(--current-white-color);
}

.sidebarIcon {
  display: none;
}

@media screen {
  .sidebarIcon {
    /* display: flex; */
    width: 16px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
  }
}
